Node 
sudo apt update && sudo apt upgrade -y
curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
sudo npm install -g npm npx

Vite
npm create vite@latest .
    Ignore files and continue
    React
    Javascript
npm install
npm run dev

Tailwind
npm install -D tailwindcss
npx tailwindcss init -p
tailwind.config.js ->   content: ["./src/**/*.{html, js, jsx}"];
index.css -> @tailwind base;
@tailwind components;
@tailwind utilities;

npm install -D postcss autoprefixer

npm install styled-components